<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHjt6SpNC2sqNCx4U1lmHeHai99KA15Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>631140366568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ExpoApp</string>
	<key>PROJECT_ID</key>
	<string>expoapp-glncy</string>
	<key>STORAGE_BUCKET</key>
	<string>expoapp-glncy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631140366568:ios:6af878869e993f8b5d315d</string>
</dict>
</plist>